.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px;
  width: 450px;
  height: 446px; 
  border: 1px;
  color: #EAECF0;
  background-color: blueviolet;
}